models/*.mat
smoke_test_results/deer_loss.txt
test_loss_data/
reports
results/*
!results/pilot_results.json
*.pyc
*.swp
pretrain/data/
datasets/OTB*
datasets/VOT
datasets/ILSVRC
*.pth
.ropeproject
docs/build
docs/source/generated
training_data/
