[TYPECHECK]

generated-members=
    torch.from_numpy,
    torch.cat,
    torch.log,
    torch.stack,
    torch.topk

[MESSAGES CONTROL]
disable=
    bad-continuation,
    fixme,
    too-few-public-methods 

[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
bad-names=foo,baz,toto,tutu,tata

[BASIC]
argument-rgx=[a-z_][a-z0-9_]*
attr-rgx=[a-z_][a-z0-9_]*
class-attribute-rgx=[a-z_][a-z0-9_]*
function-rgx=[a-z_][a-z0-9_]*
method-rgx=[a-z_][a-z0-9_]*
variable-rgx=[a-z_][a-z0-9_]*