# These are necessary to run the tracker.
got10k
opencv-python
pyyaml
scikit-image
scikit-learn
scipy
torch

# These are necessary to build the documentation.
Sphinx
sphinxcontrib-plantuml

# These are necessary to generate experiment reports.
pylatex
